<form>
  <div class="form-group">
    <label for="formGroupExampleInput">National ID</label>
    {{input type="number" class="form-control" id="id" value=id placeholder="Enter your ID NO"}}
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Names</label>
    {{input type="text" class="form-control" id="name" value=name placeholder="Enter your full names"}}
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Email address</label>
    {{input type="email" class="form-control" id="email" value=email }}
  </div>

</form>
{{yield}}
