@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Overpass|Raleway');
body {
  font-family: 'Raleway';
  font-size: 18px;
}

.navbar {
  border-bottom: 1px solid #808182;
  padding: 4px;
  box-shadow: 0px 1px 2px #ffe6e6;
}

.navbar {
  text-align: center;
}

.navbar img {
  height: 50px;
  width: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.main {
  padding: 50px;
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.signup {
  background-color: #15c10f;
  float: right;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.info {
  float: right;
}

footer {
  text-align: center;
  padding-top: 300px;
}

#foot {
  padding-right: 50px;
}

.link {
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  right: 0px;
  top: 20px;
}
