@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-bootstrap/bootstrap";
@import url['https://fonts.googleapis.com/css?family=Droid+Sans|Overpass|Raleway'];

.ember-modal-dialog{
  width: 400px;
  height: 300px;
}
body {
'Raleway';
18px;
}

.navbar {
border-bottom: 1px solid #808182;
padding: 4px;
box-shadow: 0px 1px 2px #ffe6e6;
}

.navbar {
text-align: center;
}

.navbar img {
height: 70px;
width: 80px;
}

.main {
padding: 50px;
text-align: center;
}

.navbar a {
text-decoration: none;
}
h1{
text-align: center;
}
h2{
text-align: center;
}
.signup{
background-color: #15c10f;
float: right;
}

ul {
list-style-type: none;
}
li{
display: inline;
}
.info{
float: right;
}
footer{
text-align: center;
padding-top: 300px;
}
#foot{
padding-right: 50px;
}
