@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-bootstrap/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Overpass|Raleway);
$Raleway: 'Raleway';

.ember-modal-dialog {
  width: 400px;
  height: 300px;
}

body {
  font-family: $Raleway;
  font-size: 18px;
}

.navbar {
  border-bottom: 1px solid #808182;
  padding: 4px;
  box-shadow: 0 1px 2px #ffe6e6;
}

.navbar {
  text-align: center;
}

.navbar img {
  height: 70px;
  width: 80px;
}

.main {
  padding: 50px;
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

h1 {
  text-align: center;
}


.signup {
  background-color: #15c10f;
  float: right;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.info {
  float: right;
}

footer {
  text-align: center;
  padding-top: 300px;
}

#foot {
  padding-right: 50px;
}

/*Footer*/
footer {
  padding: 20px;
  color: white;
  text-align: center;
  background-color: rgb(19, 87, 150);
}

.foot-logo h3 {
  font-family: 'Monda', sans-serif;
  font-size: 30px;
}

.foot-logo img {
  padding: 10px 20px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
}

.social-icons a {
  color: white;
  padding: 10px;
  background-color: rgb(19, 87, 150);
}

.social-icons a:hover {
  color: rgb(19, 87, 150);
  background-color: white;
  border-radius: 5px;
}

.horizontal-foot {
  width: 50%;
}

.about {
  height: 250px;
  border: 1px solid #808182;
  margin-top: 10px;
  box-shadow: 5px 5px 5px 5px;
  margin-bottom: 5px;
}

h4 {
  text-decoration-line: underline;
}

h2 {
  text-align: center;
}

ul .list {
  float: left;
}

h5 {
  text-align: center;
}

.registration {
  text-align: center;
}

/*carousel display size*/
.carousel .item {
  height: 400px;
}

.carousel .photo {
  height: 250px;
}

.item img {
  position: relative;
  top: 0;
  left: 0;
  min-height: 500px;
}
/*Welcome-txt*/
.welcome-txt {
  background-color: rgba(40, 96, 154, 0.9);
  font-family: 'Monda', sans-serif;
  padding: 10px 20px;
  position: relative;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url("../img/hero3.jpg");
}

.welcome-txt h1 {
  font-size: 55px;
}

.form-actions {
  text-align: center;
}

.gif {
  display: inline-block;
  padding-left: 380px;
}
/*REGISTER*/
.reg-head {
  padding: 20px;
  color: white;
  background-color: rgb(19, 87, 150);
}

.reg-head h1 {
  font-size: 35px;
  font-family: 'Monda', sans-serif;
}

.reg-rider {
  font-family: 'Monda', sans-serif;
  color: white;
  background-color: rgba(40, 96, 154, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url("../img/hero3.jpg");
  padding: 80px 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.reg-user {
  font-family: 'Monda', sans-serif;
  color: white;
  padding: 80px 20px;
  background-color: rgba(40, 96, 154, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url("../img/hero3.jpg");
  text-align: center;
}

.reg-button {
  font-family: 'Monda', sans-serif;
  padding: 10px 50px;
  font-size: 20px;
}



/**Button to Top**/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgb(92, 184, 92) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: rgba(0, 121, 95,0.7);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
//Toggle switch styling.
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#book-btn{
  float: right;
}
