<div class="container-fluid navbar">
  <a href="/">
  <img src="img/Logo2.png">
</a>
<button class="signup">Signup</button>
</div>
{{outlet}}
<body>
<h1> WELCOME TO NDUTHIS </h1>

<h2> Your adventure is one click away. Let's Nduthis!!!</h2>
</body>
