Choose one of our highly vetted and trained Riders and start your journey today!

<div class="container">
  {{#each model.user as |user|}}
    <ul class="list">
      {{#each model.riders as |rider|}}
        {{rider-tile rider=rider user=user}}
      {{/each}}
    </ul>
  {{/each}}
</div>

{{outlet}}
