

 {{outlet}}




<!--Welcome-txt-->

<div class="welcome-txt">
  <h1> WELCOME TO NDUTHIS </h1>
  <h2> Your RIDE is one click away</h2>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit" {{action 'login'}}>Let's Nduthis</button>
  </div>

</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <img class="img-responsive" src="http://www.bidii-ngo.org/images/homepage/nduthi.jpg" alt="Los Angeles" style="width:100%;">
    </div>

    <div class="item">
      <img class="img-responsive" src="https://i.ytimg.com/vi/WwYnf5OsZ1U/maxresdefault.jpg" alt="Chicago" style="width:100%;">
    </div>

    <div class="item">
      <img class="img-responsive" src="http://nairobiwire.com/wp-content/uploads/2015/11/corazon.png" alt="New York" style="width:100%;">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="z-index:3;">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next" style="z-index:3;">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid about">
  <div class="row">
    <div class="col-md-9">
      <h4>About Nduthis</h4>
      <p> Nduthis was created by a young vibrant team led by Chris Nyaga and other developers: Victor Allen, Isaac Onyango and Deborah Nasireyi. The idea came about by examining the market where there are many car based services but almost none that deals
        with purely motorcycles so we saw the gap and decided to exploit it. This web app will enable users to be able to select a rider for transport at their own convenience rather than look for one manually. </p>

    </div>

  </div>
  <div class="col-md-3"></div>
</div>


<!--Register Section-->
<div class="register">
  <div class="reg-head">
    <h1>Are you REGISTERED?</h1>
    <h5><i>HINT: You'll have to log in first!</i></h5>
  </div>
  <div class="row" style="margin-left:0;margin-right:0">
    <div class="col-md-6 reg-rider">
      <h3>Register as</h3>
      <hr>
      <button class="btn btn-success reg-button" {{action 'login'}}>RIDER</button>
    </div>
    <div class="col-md-6 reg-user">
      <h3>Register as</h3>
      <hr>
      <button class="btn btn-success reg-button" {{action 'login'}}>USER</button>

    </div>
  </div>
</div>
