<h2>Example of protected route that requires the user to be authenticated.</h2>

<h3>Secret code is 12345</h3>
<div class="user-info">
  <span class="user-info__leader">Hi,</span>
  <img class="user-info__avatar" src="{{session.data.authenticated.profile.picture}}">
  <span class="user-info__name">{{session.data.authenticated.profile.name}}</span>
</div>
