<h2>Example of protected route that requires the user to be authenticated.</h2>
<h2>This is where the specific user stuff is.</h2>
{{#if session.data.authenticated.profile.email_verified}}
Your email is verified
{{link-to "Proceed with registration" 'register'}}
<br>
{{link-to "Book A Nduthi" 'book'}}
<br>
{{link-to "User Dashboard" 'dashboard.user'}}
<br>
{{else}}
Your email is not verified
<br>
Please first verify you email and log back into your account to proceed with registration.
{{/if}}
